@import url('https://fonts.googleapis.com/css?family=Comfortaa|Didact+Gothic&display=swap');

:root {
    --accent-color: #81bbbd;
    --main-color: black;
    font-family: 'Didact Gothic', sans-serif;
    scroll-behavior: smooth;
}

body{
    max-width: 980px;
    margin: auto;
    background-color: whitesmoke;
}

header {
    background-color: rgb(240, 241, 239);
}

header nav .logo {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 3.3rem;
    text-align: center;
    color: var(--accent-color);
    margin-top: -2px;
}

header nav .menu {
    font-size:16px;
    font-family: 'Didact Gothic', sans-serif;
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
    }

header nav .menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    border: 1px solid transparent;
    padding: 5px;
}

header nav .menu a:hover {
    border: 1px solid var(--accent-color);
}

@media (min-width: 550px) {
    header nav {
        display: flex;
        align-items: center;
    }

    header nav .menu {
        flex: 1;
    }
}

header .banner {
    background-image:
        linear-gradient(
            rgba(0, 8, 4, 0.4),
            rgba(0, 0, 0, 0.4)),
        url(../img/green.jpg);
    background-size: cover;
    background-position: center;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header h1 .greenname {
    font-size: 3,5rem;
    color: rgb(255, 255, 255);
    text-shadow: black 0 0 10px;
}

header h1 {
    font-size:50px;
    font-family: 'Comfortaa', cursive;
    color: rgb(255, 255, 255);
    text-shadow: black 0 0 7px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

header .banner a:hover {
    text-decoration: none;
    text-transform: uppercase;
}

header p {
    font-size:26px;
    font-family: 'Comfortaa', cursive;
    color: white;
    text-shadow: black 0 0 4px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

main a:visited{
    color: #7C00CF;
}

@media (min-width: 980px) {
#category{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0px;
    row-gap: 0px;
   }
}

@media (min-width: 600px) {
    #caregory{
        display: grid;
        grid-template-columns: 1fr;
    }
}

#category .progress{
    background-color: #45CC80;
    display: flex;
    justify-content: center;
}

#category .climate{
    background-color: #009942;
    display: flex;
    justify-content: center;
}

#category .climate img{
    opacity: 0.8;
}

#category .energy{
    background-color: #C6F5BC;
    display: flex;
    justify-content: center;
}

#category img{
    height: 150px;
    margin: 0 auto;
    padding-top: 5px;
    display: flex;
    justify-content: center;

}

#category h1 {
    color: #7C00CF;
    font-size:1.4rem;
}

#quote {
    display: grid;
    grid-template-columns: 5% 90% 5%;
}

#quote p{
    grid-column-start: 2;
    background-color:#C6F5BC;
    min-height: 60px;
    font-size: 1.2rem;
}

section{
    color:black;
}

#eventsName {
    background-color:#45CC80;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

#eventsName h1 {
    margin: auto ;
}

article.events-block img {
    display: block;
    width: 100%;
    opacity: 0.85;
}

@media (min-width: 640px) {

    #events-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
}

@media (min-width: 980px) {
    #events-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

h2.contact {
    color: #7C00CF;
    background-color: #E68FF2;
    display: flex;
    justify-content: center;
}

#contact {
    margin-bottom: 0px;
}

input[type="text"], [type="email"] {
    width: 99%;
}

textarea {
    width: 99%;
    height: 90px;
}

label {
    color: #7C00CF;
}

input, textarea {
     background-color: rgba(255, 255, 255, 0.4);
     border: 3px solid rgba(122, 192, 0, 0.4);
     padding: 2px;
     color: #4b4b4b;
}

#message form input[type="submit"] {
    border: none;
    cursor: pointer;
    color: #7C00CF;
    font-size: px;
    background-color: #E68FF2;
    padding: 5px 36px 8px 36px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
}

input[type="submit"]:hover {
    color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    background-color: #E68FF2;
}

input[type="submit"]:active {
    top: 1px;
}

h1 {
    color:#7C00CF;
    font-size:22px;
}

h2 {
    color:#021f54;
}

h3 {
    color:#4169E1;
    font-style: italic;
}

p {
    color:black;
}

a {
    /* color:#1E90FF; */
    text-decoration:none;
}

a:visited {
    color:#B0C4DE;
}

a:hover {
    color:#87CEFA;
    text-decoration:underline;
}

footer {
    background-color: rgb(226, 226, 226);
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#foo p {
    color: black;
}

#foo img {
    height: 70px;
    width: 70px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    padding: 0 auto;
}

@media (min-width: 640px) {
    #foo {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 80px;
    }
}

@media (min-width: 980px) {
    #foo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 3fr;
    }
}

