@import url('https://fonts.googleapis.com/css?family=Comfortaa|Montserrat&display=swap');

:root {
    --accent-color: #61892f;
    --main-color: #1F6521;
    font-family: 'Gothic A1', sans-serif;
    scroll-behavior: smooth;
}

body{
    max-width: 980px;
    margin: auto;
    background-color: whitesmoke;
}

header {
    background-color: rgb(240, 241, 239);
}

header nav .logo {
    /* font-family: 'Didact Gothic', sans-serif;
    font-size: 3.3rem; */
    text-align: center;
    color: var(--accent-color);
    margin-top: -2px;
}

header nav .logo img {
    width:80px;
}

header nav .menu {
    font-size:20px;
    /* font-family: 'Didact Gothic', sans-serif; */
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
    }

header nav .menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--accent-color);
    border: 1px solid transparent;
    padding: 5px;
}

header nav .menu a:hover {
    border: 1px solid #079376;
}

@media (min-width: 550px) {
    header nav {
        display: flex;
        align-items: center;
    }

    header nav .menu {
        flex: 1;
    }
}

header .banner {
    background-image: url(../img/nature.jpg);
        /* linear-gradient(
            rgba(0, 8, 4, 0.45),
            rgba(0, 0, 0, 0.6)),
        url(../img/green.jpg); */
    background-size: cover;
    background-position: center;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header .banner .green-back {
    background: var(--accent-color); 
    padding:20px;
}

header h1 .greenname {
    font-size: 2.8rem;
    color: rgb(255, 255, 255);
    text-shadow: black 0 0 10px;
}

header h1 {
    font-size:1.8rem;
    font-family: 'Comfortaa', cursive;
    color: rgb(255, 255, 255);
    text-shadow: black 0 0 7px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

header .banner a:hover {
    text-decoration: none;
    text-transform: uppercase;
}

header p {
    font-size:1.1rem;
    font-family: 'Comfortaa', cursive;
    color: white;
    text-shadow: black 0 0 4px;
    margin: 0 auto;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

/* main a:visited{
    color: #7C00CF;
} */

@media (min-width: 680px) {
#category{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0px;
    row-gap: 0px;
   }
}

@media (min-width: 300px) {
    #caregory{
        display: grid;
        grid-template-columns: 1fr;
    }
}

#category .progress{
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
}

#category .climate{
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
}

#category .climate img{
    opacity: 0.8;
}

#category .energy{
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
}

#category img{
    height: 130px;
    margin: 0 auto;
    padding-top: 5px;
    display: flex;
    justify-content: center;

}

#category h1 {
    color: white;
    font-size:1.1rem;
}

.countdown {
    display: flex;    
    grid-auto-columns: inherit;
    margin-bottom: 10px;
}

.countdown-title {
    color: var(--main-color);
    font-weight: 100;
    font-size: 1.9rem;
    margin: 20px 0px 20px;
    display: flex;
    justify-content: center;
  }
  
  .countdown {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 2rem;
  }
  
  .countdown-number {
    padding: 10px;
    border-radius: 3px;
    background: var(--accent-color);
    display: inline-block;
  }
  
  .countdown-time {
    padding: 15px;
    border-radius: 3px;
    background: var(--main-color);
    display: inline-block;
  }
  
  .countdown-text {
    display: block;
    padding-top: 5px;
    font-size: 1.2rem;
  }
 
  @media (min-width: 300px) {
    #countdown {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0px;
    row-gap: 0px;
    }
  }

@media (min-width: 680px) {
    #countdown {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 0px;
    row-gap: 0px;
    }
}

/* 
  @media (min-width: 800px) {
    #countdown {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0px;
    row-gap: 0px;
    }
  } */

  .relative {
    margin: 30px 0;
    display: block;
    list-style: none;
    font-size: .95em;
    clear: both;
    padding: 30px;
    border: 1px solid #61892f;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
    line-height: 140%;
    color: #000;
    text-rendering: geometricPrecision;
    width:100%;
}

.relative a {
    color: #61892f;
    text-decoration: none;
}

section{
    color:black;
}

#eventsName {
    background-color: var(--accent-color);
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

#eventsName h1 {
    margin: auto ;
}

article.events-block img {
    display: block;
    width: 100%;
    opacity: 0.85;
}

@media (min-width: 640px) {

    #events-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
}

@media (min-width: 980px) {
    #events-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

h2.contact {
    color: white;
    font-size: 1.4rem;
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
}

#contact {
    margin-bottom: 0px;
}

input[type="text"], [type="email"] {
    /* width: 95%; */
    padding: 0 auto;
}

textarea {
    
    /* width: 95%; */
    height: 90px;
}

label {
    color: var(--accent-color);
}

input, textarea {
     background-color: rgba(255, 255, 255, 0.4);
     border: 1px solid var(--accent-color);
     padding: 2px;
     color: #4b4b4b;
     font-family: 'Gothic A1', sans-serif;
}

#message form{
   
    display: grid;
    grid-auto-columns: inherit;
}

#message form input[type="submit"] {
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    background-color: var(--accent-color);
    padding: 8px 86px 8px 86px;
    margin: 2px auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    /* max-width: 150px; */
}

input[type="submit"]:hover {
    color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    background-color: var(--main-color);
}

input[type="submit"]:active {
    top: 1px;
}

h1 {
    color: white;
    font-size:1.3rem;
}
/* 
h2 {
    color:#021f54;
}

h3 {
    color:#4169E1;
    font-style: italic;
} */

p {
    color:black;
}

a {
    /* color:#1E90FF; */
    text-decoration:none;
}

a:visited {
    color:#B0C4DE;
}

a:hover {
    color:#87CEFA;
    text-decoration:underline;
}

footer {
    background-color: rgb(226, 226, 226);
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#foo p {
    color: black;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
}

#foo img {
    height: 40px;
    width: 40px;
    margin: 0 auto;
    padding-top: 5px;
    display: flex;
    justify-content: center;
}


@media (min-width: 300px) {
    #foo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 60px;
    }
}

@media (min-width: 500px) {
    #foo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 3fr;
    }
}



